<mat-toolbar color="accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>Business Profile</span>
  <span class="example-spacer"></span>
</mat-toolbar>


<main>
  <nav>
    <div>
      <mat-icon>person</mat-icon>
      <span class="person">Profile</span>
    </div>
    <div>
      <button mat-raised-button color="warn" (click)="editProduct()">Edit Profile</button>
    </div>
  </nav>
  <table>
    <tr>
      <th>Name:</th>
      <td> {{data.name}} </td>
    </tr>
    <tr>
      <th>Domain:</th>
      <td> {{data.domain}} </td>
    </tr>
    <tr>
      <th>Date of Birth:</th>
      <td> {{data.date | date}} </td>
    </tr>
    <tr>
      <th>Mobile NO:</th>
      <td> {{data.mobile}} </td>
    </tr>
    <tr>
      <th>Gender:</th>
      <td> {{data.gender}} </td>
    </tr>
    <tr>
      <th>Address:</th>
      <td> {{data.address}} </td>
    </tr>
  </table>
</main>



<router-outlet></router-outlet>